@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');

body {
    font-family:  'Times New Roman', Times, serif;
    font-size: 14px;
   
   
}


header {
    /*background-image: url("/Bilder/Fire2.jpeg");*/
    /*background-image: url("../img/polacks.jpg");*/
    background-size: cover;
    overflow: hidden;
    text-align: center;
    max-width: 100rem;
    height: 160px;
    
    margin-left: 4px;
    margin-right: 4px;
    position: relative;

}

.header-image {
    width: 100%;
    height: auto;
    opacity: 0.75;
    position: absolute;
    
    left: 0;
    z-index: 1;

}
header h1 {
    
    text-align: center;
    font-family: 'Agbalumo';
    font-size: 50px;
    color: rgb(23, 21, 18);
    margin:0;

    text-shadow: 3px 3px 4px rgb(74, 70, 70);
    left:13%;
    top:10px;
    position: absolute;
    z-index: 10;


}
header h3 {
    
    margin: 0 auto;
    text-align: center;
    font-size: 27px;
    color: rgb(23, 21, 18);

    text-shadow: 3px 3px 4px rgb(74, 70, 70);
    left:29%;
    top:80px;
    position: absolute;
    z-index: 10;

}


#burgers-section {
    background-color: black;
    color:white;
    padding: 3px 15px;
    margin-left: 4px;
    margin-right: 4px;
    border: 3px dotted white;
}

#order-info {
    background-color: rgb(206, 84, 18);
    padding: 3px 15px;
    margin-left: 4px;
    margin-right: 4px;
    border:3px dotted white;
    color:black;

}

.select-burger-title {
    font-size: 20px;
    font-weight: bold;
    color:white;
 
}
#burger-image-field {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(220px, 220px));
    justify-content: center;

    margin: 0 auto;
    text-align: center;

}

.burger-type{
    
    width:200px;
    height:270px; 
    margin:10px;
    padding:1px;
    vertical-align:top ;
    color:white;
    background-color: rgb(186, 74, 14);
    text-align: center;
    border-width: 5px;
    border-style: outset;
    border-color:rgb(186, 74, 14);
}

.burger-name{
    font-size: 16px;
}
/*div[id] {
    background-color: rgb(42, 12, 216);
}
    */

.burger-type ul {
    text-align: left;
    margin-left: -20px;
}
.burger-type img {
    width: 100%;
    height: 180px;
}
.ingredient {
    font-weight: bold;
}
.vegetarian {
    color: green;
    font-weight: bold;
}

.burger-info {
    color:white;
}
.customer-info-title {
    font-size: 20px;
    font-weight: bold;
}
.delivery-info-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
#contact div{
    margin-bottom:10px;
}


button:hover {
    background-color: green;
    cursor:pointer;
}
.submit-button {
    background-color: rgb(247, 241, 241);
    color:rgb(10, 10, 10);
    border-width: 5px;
    border-color: grey;
    border-radius: 10px;
    box-shadow: 2px 2px dark rgb(48, 41, 41);
    padding: 2px 8px;
    margin-top:30px;
    margin-bottom:10px;

}
/*
nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}
*/
/*.Very-good {
    color: green;
}
*/
/*.Master {
    color: green;
    font-weight: bold;
}
*/